#animate{
   height: 100%;
   width: 100%;
   background-color: #fff;   
}

.battery{
    height: 100px;
   width: 300px;
   /* background-color: #000; */
   margin: 9rem auto;
   border:5px solid #000;
   /* position: relative; */
   position: relative;


}


.charging{
   /* border:3px solid #000; */
   background-color: #aa2b2b;

   height: 100px;
   width: 300px;
   animation-name: batterycharging;
   animation-duration: 7s;
   animation-timing-function: linear forwards;
   animation-iteration-count: infinite;
   animation-delay: 1s;
   
}

.charging::after{
    content: " ";
     position: absolute;
     width: 30px;
     height: 20px;
     top: 40px ;
     right: -35px;
     background-color: brown;
}


/* .battery:hover .charger{
    /* animation-name: batterycharging;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
     
     width: 100%;
   
} */


@keyframes batterycharging {

    0%{
/* position: absolute; */
width: 0;
    }
25%{
    /* position: absolute;
    left: 25%; */
width: 25%;
}
50%{
    /* position: absolute;
    left: 50%; */
    width: 50%;
}
75%{
    /* position: absolute;
    left: 75%; */
    width: 75%;
}
91%{
    /* position: absolute;
    left: 100%; */
    width:98% ;
    animation-timing-function: step-end;
}
/* 100%{
    width: 100%;
}
     */
    
}
